@import "order";

.content {
	flex: 3;
	padding: 3rem 5rem 1rem;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 3rem;
		.branch-details {
			background-color: $color-green-dark;
			padding: 1rem 2rem;
			border-radius: 1.5rem;
			font-size: 1.2rem;
			ion-icon {
				font-size: 3rem;
			}
			display: flex;
			gap: 1rem;
		}
	}
	h2 {
		font-size: 3rem;
		letter-spacing: 0.5px;
		color: transparent;
		background-image: linear-gradient(#11998e, $color-green-darker);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
}