$color-red-dark: #ff9aa2;
$color-red-light: #ffb7b2;
$color-orange: #ffdac1;
$color-orange-light: #ffe5c7;
$color-green-light: #e2f0cb;
$color-green-dark: #b5ead7;
$color-purple-dark: #b497ef;
$color-purple-light: #e6aae9;
$color-blue-dark: #9cd8f5;
$color-green-darker: #8cd2b8;
$color-dark: #2d2d2d;
$color-light-dark: #636060;
$color-black: #000000;
$color-green-lighter: #d9f5e3;