$color-red-dark: #ff9aa2;
$color-red-light: #ffb7b2;
$color-orange-light: #ffdac1;
$color-orange-dark: #d8af91;
$color-green-light: #e2f0cb;
$color-green-dark: #b5ead7;
$color-green-darker: #8cd2b8;
$color-purple-dark: #b497ef;
$color-purple-light: #e6aae9;
$color-purple-lighter: #e9c1ec;
